/**
 * Main style sheet
 */

@import "singularitygs";
@import "modular-scale";
@import "breakpoint";


// Partials
@import "partials/*";
@import "partials/*/*";


* {
  @include box-sizing('border-box');
}

.element-invisible {
  @include element-invisible;
}

body {
  color: transparentize($base-text-color, .05%);
  background: $base-background-color;
  max-width: $page-width;
  margin: 0 auto;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 2.2em;
  line-height: 1em;
  margin: 1.4em 0 .6em;
}