/**
 * Sponsors
 */

.sponsor {
  display: block;
  margin: 0 0 30px;
  
  a {
    margin: 0 50px 0 0;    
  }
  
  @include breakpoint($medium) {
    display: table-cell;
    height: 167px;
    vertical-align: middle;
    margin: 0 20px;
  }
  
  &.last a { margin: 0; }
}

.this-little-duck a {
  border-bottom: none;
  @include hide-text(203px, 167px);
  background: transparent url('../images/thislittleduck.png') 0 0 no-repeat scroll;
}

.aquia a {
  border-bottom: none;
  @include hide-text(283px, 58px);
  background: transparent url('../images/acquia.jpg') 0 0 no-repeat scroll;
}

.pnx a {
  border-bottom: none;
  @include hide-text(283px, 29px);
  background: transparent url('../images/pnx.png') 0 0 no-repeat scroll;
}

.catalyst a {
  border-bottom: none;
  @include hide-text(283px, 89px);
  background: transparent url('../images/catalyst.jpg') 0 0 no-repeat scroll;
  @include breakpoint($medium) {margin-left: 70px;}
}


.morpht a {
  border-bottom: none;
  @include hide-text(203px, 60px);
  background: transparent url('../images/morpht.png') 0 0 no-repeat scroll;
  margin: 0 40px 0 0;
}


