/**
 * Header
 */

.header {
  position: relative;
  margin-top: 30px;
  
  .location, .date {
    display: block;
  }
  
  @include breakpoint($small-medium) {
    @include grid-span(2, 1, (2, 1));
  }
}


.logo {  
  @include breakpoint($small-medium) {
    @include grid-span(1, 1, (2, 1));
    
    img {
      max-width: 70%;
    }
  }
}

.event-details {
  margin-top: 40px;
  color: $maroon;
  font-weight: bold;
  
  @include breakpoint($small-medium) {
    @include grid-span(1, 2, (2, 1));
    position: absolute;
    bottom: 16px;
    right: 0;
  }
}

.date {
  margin-top: 1em;
}
