/**
 * Typography
 */

html, body {
  font-family: $body-font;
  font-size: $base-font-size;
  line-height: 1.4em;
}

h1 {
  line-height: 1.2em;
}

h2 {
  text-transform: uppercase;
  font-family: $heading-font;
  font-size: 1.8em;
  line-height: 1em;
  margin: 1.4em 0 0;
  color: transparentize($black, .3%);
}

p {
  margin-top: .6em;
}