/**
 * Page elements
 */

body {
  color: transparentize($base-text-color, .05%);
  background: $base-background-color;
  max-width: $page-width;
  margin: 0 auto;
  padding: 20px;
}

.banner {
  clear: both;
  padding-top: 40px;
}

h3 {
  text-transform: uppercase;
  margin-top: 2em;
}

h4 {
  margin-bottom: .6em;
}

.author {
  margin-top: 0;
}

.description {
  margin-bottom: .15em;
}